<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Presença Digital v1.0</title>
        <link rel="stylesheet" type="text/css" href="../estiloPadrao.css">
</head>
    <body>
    <div id="cabecalho">
            <table id="tbDefault" style="width: 100%; height: 100%;">
                <tr>
                    <td height="100%" style="width:20%;">
                        <img src="/ProjetoFatec/images/logo_fatecjd.jpg" alt="logo_fatec" name="img_fatec" width="170" height="50" border="0" align="left" id="img_fatec"/>
					</td>
                    <td style="width:60%; text-align:left;">
                        <h1>Fatec Jundia&iacute;</h1>
                    </td>
                    <td style="width:20%;" valign="bottom">
                        &nbsp;&nbsp;&nbsp;
                        <a href="/ProjetoFatec/index.html"><img src="/ProjetoFatec/images/home_32x32.png" alt="home" width="32" height="32" border="0" id="home" title="home" /></a>
                        &nbsp;&nbsp;
                        <a href="/ProjetoFatec/faleConosco.html"><img src="/ProjetoFatec/images/contato_32x32.png" alt="faleConosco" width="32" height="32" border="0" id="contato" title="contato" /></a>                    </td>
                    <td>
                    	<img src="/ProjetoFatec/Untitled-1.png" width="60" height="70" alt="Biometria" align="top"/>                    </td>
                </tr>
      </table>
    </div>
        <div id="menu">
            <table border="0" style="width: 100%; height: 60%;">
                <tbody>
                    <tr align="center" bgcolor="lightblue">
                      <td style="width:100%; height:25%;"> <a href="/ProjetoFatec/view/operacoes.html"> <big> Opera&ccedil;&otilde;es </big> </a><br></td>
                    </tr>
                    <tr align="center" bgcolor="gray">
                        <td style="width:100%; height:25%;"> <a href="/ProjetoFatec/view/Intranet.php"> <big> &Aacute;rea Protegida </big> </a><br></td>
                    </tr>
					<tr align="center" bgcolor="lightblue">
                        <td style="width:100%; height:25%;"> <a href="/ProjetoFatec/view/help.html"><big> Ajuda </big></a></td>
                    </tr>
                    <tr align="center" bgcolor="gray">
                      <td style="width:100%; height:25%;"> <a href="/ProjetoFatec/view/about.html"> <big> Sobre </big> </a><br></td>
                    </tr>
                </tbody>
          </table>
        </div>
        <div id="conteudo">
            <div style="margin-left: 40px;">
                <big>Este software é um projeto de
                código aberto, desenvolvido pelos alunos da Faculdade de Tecnologia de
                Jundiaí com o objetivo de cumprir as avaliações propostas peça
                disciplina de Linguagem de Programação de Bancos de Dados, ministrada
                pelo professor Emerson.<br>
                <br>
                O escopo deste software está em um sistema biométrico para
                reconhecimento de impressões digitais de professores e alunos, e
                através disto substituir de maneira satisfatória o antigo método de
                averiguação de presença.<br/>
				Alunos engajados no projeto:<br/><br/>
                <p align="justify" style="font-weight: bolder; ">
                <table align="center" cellpadding="3" style="font-weight:bolder;" border="0,5px">
                    <tr>
                        <td>Nome</td><td>RA</td>
                    </tr>
                    <tr>
                        <td>Alexandre Silveira Pupo</td><td>071102</td>
                    </tr>
                    <tr>
                        <td>Emilio Murta Resende</td><td>071111</td>
                    </tr>
                    <tr>
                        <td>Jo&atilde;o Paulo Stringueto</td><td>071118</td>
                    </tr>
                    <tr>
                         <td>Marco Antonio de Leo</td><td>071124</td>
                    </tr>
                </table>
                </p>
				</big><br>
            </div>
        </div>
        <div id="rodape">
            <h3 align="center">Copyrigth - Todos os Direitos Reservados</h3>
        </div>
    </body>
</html>
